<!DOCTYPE html>
<html lang="en">

<style>
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  color: white;
  background-color: black;
}
#t01 tr {
 text-align: center
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Forecast Website</title>
</head>
<body>
<h1 style="text-align: center"> {{ city }}
    [Location:( {{ location }}), Country: {{ country }}, Timezone: {{ timezone }}] </h1>

<table id="t01" style="width:100%">
    <tr>
        <th> Date </th>
        <th> Sky Text </th>
        <th> Temperature </th>
        <th> Min. Temp </th>
        <th> Max. Temp </th>
        <th> Pressure </th>
        <th> Humidity </th>
    </tr>
    {% for info in forecastinfo %}
          <tr>
            <td> {{ info.date }} </td>
            <td> {{ info.skytext }} </td>
            <td> {{ info.temperature }} &#8451;</td>
            <td> {{ info.mintemp }} &#8451; </td>
            <td> {{ info.maxtemp }} &#8451; </td>
            <td> {{ info.pressure }} </td>
            <td> {{ info.humidity }} </td>
          </tr>
    {% endfor %}
</table>
</body>
</html>