
<style>
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  color: white;
  background-color: black;
}
#t01 tr {
 text-align: center
}
</style>

<h4 style="text-align: right"> <a href="/forecast">Forecast</a></h4>

<!--<ul>-->
<!--{% for key, value in URL.items %}-->
<!--    <li><a href="{{ value }}"> {{ key }} </a></li>-->
<!--{% endfor %}-->
<!--</ul>-->
<table id="t01" style="width:100%">
    <tr>
        <th> City Name </th>
        <th> Sky Text </th>
        <th> Temperature </th>
        <th> Date </th>
    </tr>
    {% for city, info in Weather.items %}
        <tr>
            <td> <a href="https://www.google.com/maps/place/{{ city }}"> {{ city }} </a></td>
            <td> {{ info.skytext }} </td>
            <td> {{ info.temperature }} &#8457; </td>
            <td> {{ info.date }} </td>
        </tr>
    {% endfor %}
</table>


