
<style>
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  color: white;
  background-color: black;
}
#t01 tr {
 text-align: center
}
</style>

<!--<h4 style="text-align: right"> <a href="/forecast">Forecast</a></h4>-->

<!--<ul>-->
<!--{% for key, value in URL.items %}-->
<!--    <li><a href="{{ value }}"> {{ key }} </a></li>-->
<!--{% endfor %}-->
<!--</ul>-->
<table id="t01" style="width:100%">
    <tr>
        <th> City Name </th>
        <th> Date </th>
        <th> Sky Text </th>
        <th> Temperature </th>
        <th> Min. Temp </th>
        <th> Max. Temp </th>
        <th> Pressure </th>
        <th> Humidity </th>
        <th> Sunrise </th>
        <th> Sunset </th>
        <th> Country </th>
        <th> Timezone </th>
        <th> Location </th>
    </tr>
    {% for city, info in Weather.items %}
        <tr>
            <td> <a href="{{ city }}"> {{ city }} </a></td>
            <td> {{ info.date }} </td>
            <td> {{ info.skytext }} </td>
            <td> {{ info.temperature }} &#8451;</td>
            <td> {{ info.mintemp }} &#8451; </td>
            <td> {{ info.maxtemp }} &#8451; </td>
            <td> {{ info.pressure }} </td>
            <td> {{ info.humidity }} </td>
            <td> {{ info.sunrise }} </td>
            <td> {{ info.sunset }} </td>
            <td> {{ info.country }} </td>
            <td> {{ info.timezone }} </td>
            <td> {{ info.location }} </td>
        </tr>
    {% endfor %}
</table>


